@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html { 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar{
    width:0;
    height:0;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
textarea{ 
    /*outline-color:#04a3f3 ;
    outline-width: 1px;*/
    outline:none;
    -webkit-appearance:none; 
    resize: none; 
}
/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;   
    -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none; 
}
a, img, button, input, textarea {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
body {
    font: normal 14px/1.5 "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;
    color:#888; 
    -webkit-backface-visibility:hidden;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
em, i {
    font-style: normal;
}

strong {
    font-weight: normal;
}


select{
     -webkit-appearance:none;

}
textarea {
    resize: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color:#bbb;}


a {
    color:#333;
    /*font: normal 14px/1.5 "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;*/
    text-decoration: none;
 
    font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif;
}

a:hover {
    
    text-decoration: none;
}

ul, ol,li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: Microsoft YaHei;
    font-weight: normal;
}
input,
button{
    outline:none;
}
html, body{ height:100%;overflow:hidden;overflow-y: scroll;}
body::-webkit-scrollbar,
html::-webkit-scrollbar
{
    width: 0;
    height:0;
    background-color:rgba(0, 0, 0, 0.0);
}
.h::-webkit-scrollbar{
    width: 0;
    height:0;
    background-color:rgba(0, 0, 0, 0.0);
}
.con::-webkit-scrollbar
{
    width: 0;
    height:0;
    background-color:rgba(0, 0, 0, 0.0);
}
.content-wrap::-webkit-scrollbar
{
    width: 0;
    height:0;
    background-color:rgba(0, 0, 0, 0.0);
}
.yhq_list::-webkit-scrollbar,.my-tab-bd::-webkit-scrollbar,.order-detail-wrap::-webkit-scrollbar
{
    width: 0;
    height:0;
    background-color:rgba(0, 0, 0, 0.0);
}
/*--------------公共样式-----------------*/

.clr:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clr {
    zoom: 1;
}
.black{
    color:#0a0a0a;
}
.c-blue{
    color:#04a3f3;/*主色调*/
}
.c-orange{
    color:#f54c18;/*橙色字*/
}
.c-01{
    color:#333;/*主黑色*/
}
.c-02{
    color:#555;/*次黑色*/
}
.c-03{
    color:#c8c8c8;/*淡灰色*/
}
.c-04{
    color:#959595;
}
.c-green{
    color:#35b374;
}
.c-white{
    color:#fff;/*白色*/
}
.c-red { color:#f54c18;
}
.bg-blue{
  background: #04a3f3;  /*主色调背景*/
}
.bg-blue2{ background:#36b5f5;
}
.bg-fff{
    background: #fff;/*白色背景*/
}
.bg-f6f6f6{
    background: #f6f6f6;/*灰色背景*/
}


.bg-black{
    background: #000;/*灰色背景*/
}


.bg-999999{
    background: #999999;/*灰色背景*/
}

.fz-01{
    font-size: 0.36rem;/*顶部大标题*/
}
.fz-02{
    font-size: 0.32rem;/*内容大标题*/
}
.fz-03{
    font-size: 0.3rem;/*内容大字*/
}
.fz-04{
    font-size: 0.28rem;/*内容小字*/
}
.fz-05{
    font-size: 0.24rem;/*其他小字*/
}
.pad02 { padding:0.23rem;
}
.pd-02{
    padding-left: 0.23rem;/*左右边距*/
    padding-right: 0.23rem;
}
.pt-02 {padding-top: 0.23rem;
}
.pb-02 {padding-bottom: 0.23rem;
}
.mt-02{
    margin-top: 0.2rem;
}
.mt-11{
    margin-top: 1.1rem;
}
.mt-10{
    margin-top: 1rem;
}
.mt-09{
    margin-top: 0.9rem;
}
.mt-45px { margin-top:45px;
}
.mb-02{
    margin-bottom: 0.2rem;
}
.mb-01 {  margin-bottom: 0.1rem;
}
.bd-gray{
    border: 1px solid #eaeaea;
}
.bd-top{
    border-top: 1px solid #eaeaea;    
}
.bd-bottom{
    border-bottom: 1px solid #eaeaea;
}
.bd-right{
    border-right: 1px solid #eaeaea;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.bg-999{ background:#999 } 
.bbox {
    box-sizing: border-box;
}

.dis-none {
    display: none;
}

.in-block {
    display: inline-block;
}

.mar_auto{margin:0 auto;
}

.dsb {
    display: block;
}
.w-18 { width:18%;
}
.w-80 {width:80%;
}
.w-100 {
    width: 100%;
}
.w-40 {
    width: 40%;
}
.w-30 {
    width:30%;
}
.w-87 {width:87%;
}
.w-90{width:90%;
}
.txt-center {
    text-align: center; /*字体居中*/
}
.txt-right{
    text-align: right;
}
.txt-left{
    text-align: left;
}
.ofh {
    overflow: hidden;
}
.poa {
    position: absolute;
}

.por {
    position: relative;
}
.fw-normal {
    font-weight: normal;
}
.fw-bold{
    font-weight: bold !important;
}
.w-25{
    width: 25%;
}
.w-33{
    width:33.33%;
}
.bord-ra{ border-radius:50%;
}

.v-mid { vertical-align:middle; 
}
.h-100{
    height:100% !important;
}

.common-img{
    width: 0.88rem;
    height:0.88rem;
    border-radius: 0.88rem;
}
.txt-wrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt-nowrap{
    white-space: nowrap;
}
.layout{
    width: 100%;
    height: 100%;
}
.pd-03{
    padding: 0.3rem 0;
}
.txt-retract{
    text-indent:0;
}
.txt-break{
    word-wrap: break-word !important; 
    word-break: normal !important; 
}
/*------------头部底部公共样式------------*/

.common-ft{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;


}
.common-ft footer{
    height:49px;
    line-height:49px;
    background: #fff;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;   
}
.common-ft footer a{
    height:49px;
    line-height: 25px;
    color: #5D656B;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.common-ft .current{
    color:#04a3f3;
        line-height: 20px;
            font-size: 0.24rem;
}
.common-ft footer  p{
    font-size: 0.24rem;
    color:#abb2b6;
    text-align: center;
    line-height: 20px;
}
.common-ft footer img{
    width: 21px;
    height: auto;
    margin-top: 2px;
}


.height90 { height:0.9rem; line-height:0.9rem;
}
.height80 { height:0.8rem; line-height:0.8rem;
}
.head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; 
    height:45px; 
    line-height:45px;
}
.head .hd-left{
    width: 50px;
    height: 45px;
    left: 12px;
    text-align: left;
    top: 0;
}
.head .hd-left img{
    width: 24px;
}
.head .hd-right{
    width: 76px;
    height: 45px;
    right: 12px;
    text-align: right;
    top: 0;   
}
.head .hd-right img{
    width: 22px;
    margin-left: 0.24rem;
}
.head .fr img { width:0.5rem; margin-right:0.1rem;
}

.head .fl img { width:0.5rem; margin-left:0.1rem;

}


/*返回顶部*/
.top{
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: none;
    /*background: #fff;*/
}  
.top img {
    width: 40px;
    height: 40px;
}








.guangzhu {    
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 0.02rem 0.1rem;
    color: #fff;
}



.input_btn {   
    width:90%;
   height:0.9rem; 
   line-height:0.9rem; 
   background: #04a3f3;  
   color:#fff;  
   display:block; 
   margin:0 auto; 
   border-radius:50px; 
   font-size:0.24rem; 
   letter-spacing:5px;
   margin: auto;
  position: fixed;
 left: 0; 
 bottom: 0.2rem; 
 right: 0; 
 font-size:0.32rem; 
 z-index:2000;
 
}
.input_btn_bg{height:1.3rem; background:#fff;margin: auto; border-top:1px solid #e4e4e4;
  position: fixed;
 left: 0; bottom: 0rem; right: 0;z-index:1999;
}
.selected { color:#04a3f3; border-bottom:1px solid #04a3f3;
}



.guangbi { 
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 0.34rem;
    right: 1.6rem;
    background: url(../images/gb.png) no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 5001;
    opacity: 0.5;
}


 .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

.square_list .swiper-slide a{
    font-size: 0.3rem;
}
.square_list .swiper-slide a p{
    line-height: 0.6rem;
}


.share_list .table_td {
    border-collapse: collapse;
    width: 100%;
    border: 0;
    box-sizing: border-box;
}
#black,#black2,#black3,#black4{
    background:rgba(0, 0, 0, 0.5);
    
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: none;
}

.share_list {
    /*background: #fff;*/
    text-align: center;
    letter-spacing: 2px;
    /*height: 3.4rem;*/
    width: 94%;
    position: fixed;
    left: 0;
    bottom: -4.8rem;
    z-index: 999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 3%;
    margin-bottom: 0.3rem;
    border-radius: 6px;
}
.share_list .td01 {
    line-height: 0.7rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.share_list .td02 {
    line-height: 0.6rem;
}
.share_list img {
    width: 1.0rem;
    border-radius: 20%;
}
.share_list input {
    width: 100%;
    line-height: 0.8rem;
    height: 0.9rem;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    color: #04a3f3;
    font-size: 0.32rem;
    background: #fff;
    border-radius: 6px;
    margin-top: .2rem;
}
.discuss,.discuss1,.delete-discuss{
    position: absolute;
    z-index: 99999;
    width: 100%;
    bottom:-1.13rem;
}
.delete-discuss{
    bottom:-2.8rem;
}
.delete-discuss p,
.delete-discuss button,
.delete-discuss span{
    height: 0.8rem;
    line-height: .8rem;
    text-align: center;    
    background: #fff;
}
.delete-discuss p{
    border-bottom: 1px solid #eaeaea;      
    font-size: 0.2rem;
    color: #999;
}
.delete-discuss button,
.delete-discuss span{
    width: 100%;
    font-size: 0.3rem;
    letter-spacing: 4px;
}
.delete-discuss button{
    color: red;    
}
.delete-discuss span{
    margin-top: 6px;
}
#discuss-content,#reply-discuss{
    padding: 0.3rem 0.2rem;
    color: #000;
}
.discuss input,.discuss1 input{

    font-size: 0.3rem;   
}
.discuss .fasong,.discuss1 .fasong{
    background: #04a3f3;
    color: #fff;
    border-radius: 4px;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-top: 0.05rem;
}


.get-code{
    position: absolute;
    top: 50%;
    right: 0.2rem;
    margin-top: -0.2rem;
    border-radius: 2px;
    padding: 0 0.1rem;
}

/*搜索页面*/
.search-hd{
    padding: 0.2rem 0.23rem;
}
.shousuo{
    padding: 0.15rem 0.2rem;
    border-radius: 2rem;
    width: 76%;
}
.ss_btn {
    height: 0.5rem;
    line-height: 0.5rem;
    background: 0;
    font-size: 0.28rem;
    color: #fff;
    background: #04a3f3;
    text-align: center;
    width: 0.8rem;
    border-radius: 4px;
    margin-top: 0.05rem;
    margin-left: 0.15rem;
}
.blue-arrow{
    float: left;
    width: 0.5rem;
    margin-top: 0.08rem;
}



/*-------我参加的课程------*/
.course-state{
    position: absolute;
    top:0.05rem;
    right:0.23rem;
    font-size: 0.25rem;
    padding: 0 0.1rem;
    border-radius: 4px;
}
.course-goning{
    color: #35b374;
    border: 1px solid #35b374;    
}
.course-over{
    color:#f54c18;
    border: 1px solid #f54c18;   
}

.course-title p{
    width: 82%;
}


/*----设置头像------*/
#clipArea {
    height: 300px;
    margin-top: 1.5rem;
}
#file {
    position: absolute;
    left:0;right:0;
     width: 50%;
    margin: 0rem auto;
    color: #fff;
    border: 1px solid #fff;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    visibility: hidden;
}
#clipBtn{
    background: none;
}
#view {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.choice-btn {
    margin-top: 0.5rem;
    text-align: center;
}
.choice-btn label{ display: block; 
      width: 50%;
    margin: 0.5rem auto;
    color: #fff;
    border: 1px solid #fff;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
}
.next-btn{
     width: 90%;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #04a3f3;
    color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 0.24rem;
    letter-spacing: 5px;
    margin: auto;
    font-size: 0.32rem;
    z-index: 2000;
    margin-top: 0.7rem;   
}
.login-btn{
    width: 90%;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #04a3f3;
    color: #fff;
    display: block;
    margin: 0.6rem auto 0;
    border-radius: 50px;
    font-size: 0.24rem;
    letter-spacing: 5px;
    font-size: 0.32rem;
    z-index: 2000;    
}



/*-------搜索----------*/
.oldhistory{
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eaeaea;
}
.history-list li{
    float: left;
    background: #fff; 
    padding:0.05rem 0.15rem;
    border-radius: 4px;
    margin-right: 0.2rem;
    border: 1px solid #eaeaea;
    margin-top: 0.2rem;
}
.clear-btn{
        border: 1px solid #04a3f3;
    width: 34%;
    margin: 0.42rem auto;
    padding: 0.1rem 0.2rem;
    border-radius: 6px;
}


/*镂空区域*/
.trans {
    /*transition*/
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.test_outer {
    /*background-color:lime;*/ z-index:888888;
    width: 100%;
    height: 100%;
   
    position: fixed;
    overflow:hidden;/* 因为遮罩层肯定比实际区域大，所以遮罩层的限制层：overflow：hidden控制不出现滚动条 */
}
.test_cover {z-index:99999;
  
    border:10rem solid rgba(0, 0, 0, .6);/* 使用元素的大border作为遮罩层的 */
 
    position: absolute;
}


.guide{display:none;}

.test_next { position: fixed; z-index:9999999; color:#fff; border:1px solid #fff; padding:5px 10px; border-radius:5px; letter-spacing:3px; top:9rem; left:3rem; font-size:0.32rem;
}


/*-------会员证弹窗-------*/
.card-popup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.white-bg{
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-top: 1.5rem;
    margin: 1.5rem auto 0;
    width: 96%;
    border-radius: 6px;
}
.white-bg .card-msg{
    margin-top: 0;
    width: 96%;
}
.white-bg button{
    background: #04a3f3;
    color: #fff;
    display: block;
    margin: 0.2rem auto;
    width: 2.5rem;
    line-height: 0.7rem;
    border-radius: 20px;
    font-size: 0.32rem;
    letter-spacing: 2px;
}
.bg-white{ background:#fff ; }