<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8" />
	    <title>照片墙</title>
	    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,viewport-fit=cover"/>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="format-detection" content="telephone=no, email=no"/>
	    <meta name="msapplication-tap-highlight" content="no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/> 
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/css/my.css}" />
	    <link rel="stylesheet" th:href="@{https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css}"/>
		<link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" />
		<script th:src="@{/js/zoom.js}" type="text/javascript"></script>
		<script th:src="@{/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
	    <script th:src="@{/js/masonry.pkgd.min.js}"></script>
		<script th:src="@{/js/find.js}"></script>
		<script th:src="@{http://res.wx.qq.com/open/js/jweixin-1.2.0.js}" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">
			<!-- <nav class="common-head">
					<h1 class="txt-center c-36">照片墙</h1>
			</nav>nav-container end -->
		<div class="photo-list ">
			<aside class="fall-box grid">
				<div class="grid-item item" th:each="discover : ${discoverList}">
					<a th:href="@{/wx/discover/getDiscoverInfo(id = ${discover.id})}" class="dsb">
						<!-- <img src="/images/works5.jpg" class="item-img" /> -->
						<img th:src="${discover.pictureUrl}" class="item-img" />
						<section class="section-p">
						   <img th:src="${discover.avatarUrl}" class="index-user-headimg"/><p class="name" th:text="${discover.nickName}">某某某</p>
						   <div class="count-wrap">
						   		<span class="comment" th:text="${discover.shareNumber}">0</span>
						   		<span class="praise" th:text="${discover.likeNumber}">0</span>
						   </div>
						</section>
					</a>
				</div><!--item end-->
			</aside>
		    <div id="loadmore" class="weui-loadmore">
	            <i class="weui-loading"></i>
	            <span class="weui-loadmore__tips">正在加载</span>
	        </div>
		</div>
	</div>

	<div class="photo-footer clearfix">
		<a href="javascript:;" class="photo-index"><img src="/images/index.png" class="dsb" />首页</a>
		<a th:href="@{/wx/photo/toUpload}" class="tianjia-btn"><img src="/images/tianjia.png" /></a>
		<a th:href="@{/wx/my/my}" class="my-photo"><img src="/images/my.png" class="dsb" />我的</a>
	</div>
        
	</body>
	<script th:inline="javascript" type="text/javascript">
		
		$(document).ready(function(){
			
			var appId = [[${config.appId}]];
			var timestamp = [[${config.timestamp}]];
			var nonceStr = [[${config.nonceStr}]];
			var signature = [[${config.signature}]];
			var jsApiList = [[${config.jsApiList}]];
			var staticPath = [[${staticPath}]];
			
			wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: appId, // 必填，公众号的唯一标识
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: nonceStr, // 必填，生成签名的随机串
			    signature: signature,// 必填，签名
			    jsApiList:jsApiList
			});
			
			wx.ready(function () {
				//分享给好友
				wx.onMenuShareAppMessage({
					title: '好友分享', // 分享标题
					desc: '好友分享', // 分享描述
					link: staticPath + 'wx/discover/getDiscoverList', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
					imgUrl: staticPath + 'simplify993.18592806005425DXIcsUvtJONVV1pQqgksZlTIyABOtgJrZ3NWSLhxXC-CFmOadXxSTmwUVOwNYPa.jpg', // 分享图标
					success: function () {
					},
					cancel: function () {
					}
				});
				
				
				//分享到朋友圈
				wx.onMenuShareTimeline({
				    title: '朋友圈分享', // 分享标题
				    link: staticPath + 'wx/discover/getDiscoverList', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: staticPath + 'simplify993.18592806005425DXIcsUvtJONVV1pQqgksZlTIyABOtgJrZ3NWSLhxXC-CFmOadXxSTmwUVOwNYPa.jpg', // 分享图标
				    success: function () {
					},
					cancel: function () {
					}
				});
				
			});
			
		});
		
	</script>
</html>
