<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow:auto;height:100%;overflow-x:hidden">
	<head>
    <meta charset="UTF-8" />
    <title>上传照片</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width,viewport-fit=cover"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/> 
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/my.css" />
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<script src="/js/zoom.js" type="text/javascript"></script>
	
	<script th:src="@{http://res.wx.qq.com/open/js/jweixin-1.2.0.js}" type="text/javascript"></script>
	
	</head>
	<body>
	<!-- <div class="container">
		<nav class="common-head">
			<h1 class="txt-center c-36">上传照片</h1>
		</nav>
	</div> -->

	<div>
		<a th:onclick="'javascript:chooseImage()'">
			<img src="/images/click-add.png" alt="" class="add-photo-btn" id="add-photo"/>
		</a>
		<p class="fz-03 c-666 txt-center" id="txt-center">点击图标添加照片</p>
		<div id="login_click" hidden="true">  
        	<a id="btlogin" th:onclick="'javascript:uploadImg()'">简化图片</a>
        </div>
	</div>



	<div class="photo-footer clearfix">
		<a th:href="@{/wx/discover/getDiscoverList}" class="photo-index"><img src="/images/index-line.png" class="dsb" />首页</a>
		<a href="javascript:;" class="tianjia-btn"><img src="/images/tianjia.png" /></a>
		<a th:href="@{/wx/my/my}" class="my-photo"><img src="/images/my.png" class="dsb" />我的</a>
	</div>	
        <script th:src="@{/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
        
        <script th:inline="javascript" type="text/javascript">
        	var img_localId;
        	var img_serverId;
        
			$(function(){
				var appId = [[${config.appId}]];
				var timestamp = [[${config.timestamp}]];
				var nonceStr = [[${config.nonceStr}]];
				var signature = [[${config.signature}]];
				var jsApiList = [[${config.jsApiList}]];
				
				wx.config({
				    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				    appId: appId, // 必填，公众号的唯一标识
				    timestamp: timestamp, // 必填，生成签名的时间戳
				    nonceStr: nonceStr, // 必填，生成签名的随机串
				    signature: signature,// 必填，签名
				    jsApiList:jsApiList
				});
				wx.ready(function () {
				});
				
			});
			
			function chooseImage(){
				wx.chooseImage({
					count: 1, // 默认9
					sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
					success: function (res) {
						img_localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
						$("#add-photo").attr('src',img_localId);
						$("#add-photo").css("width","7.0rem");
						$("#add-photo").css("height","7.2rem");
						$("#add-photo").css("margin-top","1.2rem");
						$("#txt-center").hide();
						$("#login_click").show();
					}
				});
			}
			
			
			
			function uploadImg(){
				alert(img_localId);
				wx.uploadImage({
					localId: img_localId.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
					isShowProgressTips: 1, // 默认为1，显示进度提示
					success: function (res) {
						alert("点击了111");
						img_serverId = res.serverId; // 返回图片的服务器端ID
						$.ajax({
							url: "http://simplepicwx.tunnel.qydev.com/wx/photo/downloadPicture",
							dataType:"text",
							data:{
								"img_serverId":img_serverId
							},
							success: function(result){
								alert(result);
					      	}
						});
					}
				});
			}
		</script>
		
	</body>
</html>
