<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>发评论</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/my.css}" />
    <link rel="stylesheet" th:href="@{https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css}"/>
    <script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/js/zoom.js" type="text/javascript"></script>
</head>
<body class="bg-f6f6f6">
	<div class="big-wrap">
	  <header class="common-head">
	       <a href="javascript:history.go(-1);" class="more-list hd-left"><img th:src="@{/images/return.png}"  alt="" /></a>
	       <h1 class="txt-center c-36">发评论</h1>
	       <button class="hd-right" th:onclick="'javascript:discuss()'">发送</button>
	   </header> 
	<section class="mt-11 pd-side">
	<ul class="pl-content">
	    <li class="courseComment">  
	        <div class="pl-left">
	        	<img id="headimg" style="display:block" th:src="${user.headImgUrl}"/> 
	        </div>  
	        <div class="pl-right pb-01">   
	          <div class="clearfix pl-user">    
	            <div class="fl">     
	              <span class="dsb c-36 fz-02" id="userName" th:text="${user.nickName}">某某某</span>     
	              <span class="dsb c-95 fz-04 pl-time" id="CREATE_TIME" th:text="${date}">日期</span>
	            </div>    
	             
	          </div>   
	          <p class="txt-break c-36 fz-02"></p>  
	        </div> 
	    </li>
	  </ul>
	  <textarea id="content" placeholder="请编辑你的评论" cols="30" rows="10" class="write-area pd02 fz-02 bg-fff"></textarea>
	</section>
	</div>
	
	<!--BEGIN toast-->
	<div id="toast" style="display: none;">
	    <div class="weui-mask_transparent"></div>
	    <div class="weui-toast">
	        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
	        <p class="weui-toast__content">评论成功</p>
	    </div>
	</div>
	<!--end toast-->
</body>

	<script th:inline="javascript" type="text/javascript">
		var pictureUploadLogsId = [[${id}]];
		var openId = [[${openId}]];
		
		function discuss(){
			var content = $("#content").val();
			$.ajax({
				url: "http://simplepicwx.tunnel.qydev.com/wx/discuss/receiveDiscuss",
				dataType:"text",
				data:{
					"openId":openId,
					"pictureUploadLogsId":pictureUploadLogsId,
					"discussContent":content
				},
				success: function(result){
			        var $toast = $('#toast');
		            if ($toast.css('display') != 'none') return;

		            $toast.fadeIn(100);
		            setTimeout(function () {
		                $toast.fadeOut(100);
		                history.go(-1);
		            }, 2000);
		      	}
			});
		}
	
	
	</script>
	
</html>
